{% extends 'accounts/update_profile_base.html' %}

{% block profile_form_content %}
    <h5 class="border-bottom pb-2 mb-3">Citizen Information</h5>
    <div class="row g-3">
        <div class="col-md-6">
            <label for="{{ profile_form.emergency_contact.id_for_label }}" class="form-label">Emergency Contact Number</label>
            {{ profile_form.emergency_contact }}
            {% if profile_form.emergency_contact.errors %}
                <div class="invalid-feedback d-block">
                    {{ profile_form.emergency_contact.errors }}
                </div>
            {% endif %}
        </div>
        <div class="col-12">
            <label for="{{ profile_form.medical_conditions.id_for_label }}" class="form-label">Medical Conditions</label>
            {{ profile_form.medical_conditions }}
            {% if profile_form.medical_conditions.errors %}
                <div class="invalid-feedback d-block">
                    {{ profile_form.medical_conditions.errors }}
                </div>
            {% endif %}
            <div class="form-text">Please provide any relevant medical conditions for emergency situations.</div>
        </div>
    </div>
{% endblock %}
